<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Письмо отправлено</title>
    <style type="text/css">
        .body {
            background-color: rgba(255, 165, 0, 0.08);
        }

        .message-box {
        	width: 400px;
            margin: 100px auto;
        }

        .message {
        	font-size: 40px;
        	text-align: center;
        }
    </style>
</head>
<body class="body">

<div class="message-box">
    <h4 class="message">Пароль успешно изменён</h4>
</div>

</body>
</html>